@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --primary-color: #e6dace;
  --secondary-color: #0050ff;
  --cream-color: #fcfcfc;
  --photo-color: #f4ece6;
  background-color: var(--cream-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  background: rgb(182, 182, 182);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}